.Modal2-Container {
  padding-top: 40px;
}
.Text-1,
.Text-2,
.Text-3,
.Text-4,
.Text-5 {
  display: flex;
  justify-content: space-between;
  color: gray;
}
.Color1 {
  padding-left: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text-4-btn,
.text-5-btn,
.text-3-btn,
.text-2-btn,
.text-1-btn {
  height: 30px;
  border: none;
  width: 70px;
  border-radius: 5px;
}
.btn {
  padding-top: 10px;
}
.text-4-1 {
  display: flex;
  justify-content: space-between;
}
