.backrground-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  z-index: 10;
  flex-wrap: wrap;
}@media(max-width:1000px){
  .Container{
    width:47% !important;
  }
}
@media (max-width:600px) {
  .Container{
    width:100% !important;
  }
}
.Container {
  width: 500px;
  border-radius: 12px;
  background-color: white;
  padding: 30px;
}.Container1{
    display: flex;
    justify-content: space-between;
}.Button-container{
    justify-content: space-between;
    padding-top: 30px;
    padding-left:396px ;
    background-color: white;

}.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}.theme{
  font-weight: bold;
}